# Node
/node_modules
/npm-debug.log
/yarn-error.log

# React
/build

# Environment variables
.env

# Docker
/Dockerfile
/docker-compose.yml
*.dockerignore

# Kubernetes
*.kube

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# macOS
.DS_Store

# Logs
logs
*.log
